@page "/users"

@using BlazorWebAssemblyIdentityDemo.ClientApp.Components
@using BlazorWebAssemblyIdentityDemo.ClientApp.Components.Users
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrator")]


<div class="container">
    <div class="row">
        <div class="col-md">
            <TextSearchFilter OnSearchChanged="SearchChanged"/>
        </div>
        <div class="col-md">
            <DropDown Items="MasterData.Roles" DefaultValue="-- All--" OnSelectedItemChanged="RoleChanged" />
        </div>
        <div class="col-md">
            <DropDown Items="MasterData.Positions" DefaultValue="-- All--" OnSelectedItemChanged="PositionChanged" />
        </div>
        <div class="col-md">
            <DropDown Items="MasterData.SortBy" DefaultValue="-- Sort By--" OnSelectedItemChanged="SortChanged" />
        </div>
        <div class="col-md">
            <a href="/addUser">Create Product</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <UserTable Users="UserList" OnDeleted="DeleteUser"></UserTable>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col">
                    <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
                </div>
            </div>
        </div>
    </div>
</div>







