<section>
    <select class="form-select" @onchange="SelectedItemChanged">
        <option value="-1">@DefaultValue</option>
        @foreach (var item in Items)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</section>


